@page
@model FunEvents.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Attendee.Name</h1>
<p>The events you've joined are displayed here!</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Location
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendee.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn-outline-danger" value="Remove" asp-route-id="@item.ID" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

@if (Request.Method == "POST")
{
    <p>You successfully removed an event!</p>
}
