@page
@model FunEvents.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{ 
    bool alreadyJoined = false;
}

@{if (Request.Method == "POST")
    {
        foreach (var item in Model.AttendeeEvents)
        {
            if (item.ID == Model.Event.ID)
                alreadyJoined = true;
        }

        if (alreadyJoined)
        {
            <div>
                <h1>@Html.DisplayFor(model => model.Event.Title)</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Place)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Place)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Date)
                    </dd>
                    <dt class="col-sm-2">
                        Spots Available
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.SpotsAvailable)
                    </dd>
                </dl>
            </div>
            <h4>You have already joined @Html.DisplayFor(model => model.Event.Title) See you there!</h4>

            <form method="get">
                <input type="submit" class="btn btn-secondary btn-lg" asp-page="/MyEvents/Index" value="View your events" />
            </form>
        }
        else
        {
            <div>
                <h1>@Html.DisplayFor(model => model.Event.Title)</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Place)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Place)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Date)
                    </dd>
                    <dt class="col-sm-2">
                        Spots Available
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.SpotsAvailable)
                    </dd>
                </dl>
            </div>
            <h4>Thank you for joining the @Html.DisplayFor(model => model.Event.Title) event</h4>

            <form method="get">
                <input type="submit" class="btn btn-secondary btn-lg" asp-page="/MyEvents/Index" value="View your events" />
            </form>
        }

    }
    else
    {
        <form method="post" name="" action="">
            <div>
                <h1>@Html.DisplayFor(model => model.Event.Title)</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Place)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Place)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Event.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.Date)
                    </dd>
                    <dt class="col-sm-2">
                        Spots Available
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Event.SpotsAvailable)
                    </dd>
                </dl>
            </div>
            <input type="submit" class="btn btn-secondary btn-lg" asp-route-id="@Model.Event.ID" value="Join this event">
        </form>
    }

}

<form method="get">
    <input type="submit" class="btn btn-secondary btn-lg" asp-page="./Index" value="Back to events">
</form>
