@page
@model FunEvents.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<form method="post">
    <div>
        <h1>@Html.DisplayFor(model => model.Event.Title)</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Place)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Place)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Date)
            </dd>
            <dt class="col-sm-2">
                Spots Available
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.SpotsAvailable)
            </dd>
        </dl>
    </div>
    <button type="submit" asp-page="Events/Details" asp-route-id="">JOIN EVENT</button>
</form>


<form method="get">
    <button type="submit" asp-page="./Index">Back To List</button>
</form>
