@page
@model FunEvents.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="accordion">
    @foreach (var item in Model.Event)
    {
        <div class="accordion"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></div>
        <div class="panel">
            <p>@Html.DisplayFor(modelItem => item.OrganizerID)</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p>@Html.DisplayFor(modelItem => item.Place)</p>
            <p>@Html.DisplayFor(modelItem => item.Address)</p>
            <p>@Html.DisplayFor(modelItem => item.Date)</p>
            <p>@Html.DisplayFor(modelItem => item.SpotsAvailable)</p>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
        </div>
    }
</div>

@section scripts {
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
}
